<div class="wrapper">
<%= render "/home/title"%>
<div class="sign_up_page">

  <div class="sign_up_form">

    <div class="sign_up_title">
      <h2>レッツログイン</h2>
    </div>

    <%= form_with model: @user, url: user_session_path, class: 'account_create', local: true do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "form_label" %><br />
        <%= f.email_field :email, class:"input_default", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "form_label" %><br />
        <%= f.password_field :password, class:"input_default", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "remember_me_check_box" %>
          <%= f.label :remember_me, class: "remember_me" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "sign_up_submit" %>
      </div>
    <% end %>

    <div class="moving_to_form">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
 <img src="<%= "/images/ニキビちゃんコメント2.jpg" %>", class="nikibityan_comment">

  <div class="sign_up_to_root_path">
    <%= render "shared/move_root_path" %>
  </div>
</div>
</div>