<div class="wrapper">
  <div class="root_page">
    <div class="top_image">
      <img src="<%= "/images/phonto 2.jpg" %>">
    </div>
    <ul class="top_menu">
      <li>
        <%= link_to 'about', home_about_path, class: "link" %>
      </li>
      <% if user_signed_in? %>
      <li>
        <%= link_to 'new_post', new_post_path, class: "link" %>
      </li>
      <li>
        <%= link_to 'log_out', destroy_user_session_path, data: { confirm: 'ログアウトしますか？' }, method: :delete, class: "link" %>
      </li>
      <li>
        <%= link_to 'my_page', user_path(current_user.id), class: "link" %>
      </li>
      <% else %>
      <li>
        <%= link_to 'sign_up', new_user_registration_path, class: "link" %>
      </li>
      <li>
        <%= link_to 'log_in',new_user_session_path, class: "link" %>
      </li>
      <% end %>
      <li>
        <i id="search-show", class="fa fa-search"></i>
      </li>
    </ul>

    <div id="search_modal", class="search_form_wrapper">
      <%= form_with url: search_posts_path, local: true, method: :get, class: "search_form" do |f| %>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search_input" %>
        <%= f.button :type => "submit", style: 'border-style: none;', class:"search_btn" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <div class="post_index">
      <% @posts.each do |post| %>
        <div class="post_container">
          <%= link_to post_path(post.id), class:"post_path" do %>
              <img src="<%= "/images/nikibikun.jpg" %>" class="post_image">
          <div class="user_nickname">
            <%= post.user.nickname %>の投稿
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>