<div class="root_page">
  <div class="top_image">
    <img src="<%= "/images/title.jpg" %>">
  </div>
  <ul class="top_menu">
    <li>
      <%= link_to 'about', root_path, class: "link" %>
    </li>
    <% if user_signed_in? %>
    <li>
      <%= link_to '新規投稿', new_post_path, class: "link" %>
    </li>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "link" %>
    </li>
    <li>
      <%= link_to 'マイページ', user_path(current_user.id), class: "link" %>
    </li>
    <% else %>
    <li>
      <%= link_to '新規登録', new_user_registration_path, class: "link" %>
    </li>
    <li>
      <%= link_to 'ログイン',new_user_session_path, class: "link" %>
    </li>
    <% end %>
  </ul>

  <% if flash[:notice] %>
    <div class="flash_message">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="post_index">
    <% @posts.each do |post| %>
      <div class="post_container">
        <%= link_to(root_path) do %>
            <img src="<%= "/images/nikibikun.jpg" %>" class="post_image">
        <% end %>
        <div class="user_nickname">
          <%= post.user.nickname %>の投稿
        </div>
      </div>
    <% end %>
  </div>
</div>  