<%= render "./home/title"%>

<div class="post_show_container">
  <div class="post_show_items">

    <div class="name_user_posted">
      <i class="fa fa-file-text"></i>
      <%= @post.user.nickname %>さんの投稿
    </div>

    <div class="post_content">
      <div class="post_title">
        title: <%= @post.title %>
      </div>

      <div class="post_category">
        <div>category: </div><%= @post.category.name %>
      </div>

      <div class="post_text">
        <%= simple_format @post.text %>
      </div>

      <div class="post_created_at">
        <%= l @post.created_at %>
        <div class="like_and_edit">
          <% if user_signed_in? %>
            <div class="heart_btn">
              <%= render partial: 'like_btn'%>
            </div>
            <% if @post.user_id == current_user.id %>
              <%= link_to(edit_post_path(@post.id), class:"post_edit_btn") do %>
                <i class="fa fa-edit"></i>Edit
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="prev_or_next">
      <% if @post.prev.present? %>
        <%= link_to post_path(@post.prev), class: "prev_post" do %>
          <i class="fa fa-arrow-circle-o-left"></i>前の投稿
        <% end %>
      <% end %>
      <% if @post.next.present? %>
        <%= link_to post_path(@post.next), class: "next_post"  do %>
          次の投稿<i class="fa fa-arrow-circle-o-right"></i>
        <% end %>
      <% end %>
    </div>

    <% if @post.image.attached? %>
      <%= image_tag @post.image, class:"post_show_image"%>
    <% end %>

    <p class="comment_to_post"><i class="fa fa-comments"></i>comments</p>

    <div class="comments_index">
      <% @comments.each do |comment| %>

        <div class="one_comment">
          <div class="comment_user_name">
            <%= comment.user.nickname %>
          </div>

          <div class="one_comment_text">
            <%= simple_format comment.text %>
            <div class="comment_created_at">
              <%= l comment.created_at %>
            </div>
          </div>

          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"comment_delete", id:"comment_delete_btn" do %>
             <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post, class:"comment_input_form", id:"new_comment", local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.text_area :text, class:"comment_text" %>
        <%= f.button :type => "submit", style: 'border-style: none;', class:"form_submit" do %>
          <i class="fa fa-send"></i>
        <% end %>
      <% end %>
    <% else %>
      <p class="impossible_action">コメントの投稿には新規登録/ログインが必要です</p>
    <% end  %>

    <div class="move_other_container">
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <%= link_to(user_path(@post.user.id), class:"post_show_to_my_page") do %>
          <i class="fa fa-user-o"></i>マイページ
        <% end %>
      <% end %>
    
      <div class="post_show_to_root_path">
        <%= render "shared/move_root_path"%>
      </div>
    </div>
  </div>
</div>