<div class="post_show_container">
  <div class="post_show_items">

    <div class="name_user_posted">
      <i class="fa fa-file-text"></i>
      <%= @post.user.nickname %>さんの投稿
    </div>

    <div class="post_content">
      <div class="post_title">
        title: <%= @post.title %>
        <div class="heart_btn">
        <% if user_signed_in? %>
        <% if @like == nil %>
          <%= link_to post_likes_path(@post.id), method: :post do %>
            <i class="fa fa-heart-o"></i>
          <% end %>
        <% else %> 
          <%= link_to post_like_path(@like.post.id, @like.id), method: :delete do %>
            <i class="fa fa-heart"></i>
          <% end %>
        <% end %>
        <% end %>
        </div>
      </div>

      <div class="post_text">
        <%= @post.text %>
      </div>

      <div class="post_created_at">
        <%= @post.created_at %>
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <%= link_to(edit_post_path(@post.id), class:"post_edit_btn") do %>
            <i class="fa fa-edit"></i>Edit
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @post.image.attached? %>
      <%= image_tag @post.image, class:"post_show_image"%>
    <% end %>
    
      <%# <%= link_to "前の投稿に戻る", "/posts/#{@post.previous.id}/previous", class:"choice previous_post" %>
      <%# <%= link_to "次の投稿へ進む", "/posts/#{@post.id}/next", class:" choice next_post" %>

    <p class="comment_to_post"><i class="fa fa-comments"></i>comments</p>

    <div class="comments_index">
      <% @comments.each do |comment| %>

        <div class="one_comment">
          <div class="comment_user_name">
            <%= comment.user.nickname %>
          </div>

          <div class="one_comment_text">
            <%= comment.text %>
            <div class="comment_created_at">
              <%= comment.created_at %>
            </div>
          </div>

          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"comment_delete" do %>
             <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
        
    <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post, class:"comment_input_form", local: true do |f| %>
      <%= f.text_area :text, class:"comment_text" %>
      <%= f.button :type => "submit", style: 'border-style: none;' do %>
        <i class="fa fa-send"></i>
      <% end %>
    <% end %>

    <div class="move_other_container">
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <%= link_to(user_path(@post.user.id), class:"post_show_to_my_page") do %>
          <i class="fa fa-user-o"></i>マイページ
        <% end %>
      <% end %>
    
      <div class="post_show_to_root_path">
        <%= render "shared/move_root_path"%>
      </div>
    </div>
  </div>
</div>