<div class="search_posts_title">カテゴリ検索</div>

<div class="searched_post_to_top">
  <%= render "shared/move_root_path" %> 
</div>

<%= form_with url: sort_posts_path, local: true, method: :get, class:"sort_form2" do |f| %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"search_input"}) %>
  <%= f.button :type => "submit", style: 'border-style: none;', class:"search_btn" do %>
    <i class="fa fa-search"></i>
  <% end %>
<% end %>

<% if @posts != [] %>
  <div class="searched_posts">

    <% @posts.each do |post| %>
      <%= link_to post_path(post.id), class:"search_post_content" do %>

        <div class="post_title">
          title: <%= post.title %>
        </div>

        <div class="post_category">
          <div>category: </div><%= post.category.name %>
        </div>

        <div class="post_text">
          <%= post.text %>
        </div>

        <div class="post_created_at">
          <%= l post.created_at %>
        </div>

      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="no_post">検索結果なし</div>
<% end %>