<!DOCTYPE html>
<html>
  <head>
    <title>思春期ニキビ連合軍</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/4f9b7114cd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <% if notice %>
      <div id="flash_notice">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div id="flash_alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
