<!DOCTYPE html>
<html>
  <head>
    <title>思春期ニキビ連合軍</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/4f9b7114cd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <div class="wrapper">
    <% if notice %>
      <div id="flash_notice">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div id="flash_alert">
        <%= alert %>
      </div>
    <% end %>

    <div id="search_modal", class="search_form_wrapper">
    <div class="search_method">
    
      <%= form_with url: sort_posts_path, local: true, method: :get, class:"sort_form" do |f| %>
        <b><em><p>カテゴリ検索<p></em></b>
        <div class="search_box">
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"search_input"}) %>
          <%= f.button :type => "submit", style: 'border-style: none;', class:"search_btn" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      <% end %>

      <%= form_with url: search_posts_path, local: true, method: :get, class:"search_form" do |f| %>
        <b><em><p>投稿検索<p></em></b>
        <div class="search_box">
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search_input" %>
          <%= f.button :type => "submit", style: 'border-style: none;', class:"search_btn" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>

        <div class="search_close", id="close_modal">
         <i class="fa fa-close"></i>
        </div>
      <% end %>

      </div>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
